<!DOCTYPE html>
<html>
  <head>
    <title>Tamagotchi</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body
    <div class = "container">
     <h2>Give life to your tamagotchi:</h2>
     <form action='/tamagotchis/new' method = "post">
       <div class='form-group'>
         <label for='name'>Your Tamagotchi's Name</label>
         <input id='name' name='name' class='form-control' type='text'>
       </div>
       <button type='submit' class='btn btn-primary'>Add Tamagotchi</button>
     </form>
    </div>
  </body>
</html>
